{{ $page := .root }}
{{ $section := .page }}

<style>
  .carousel-item{
    min-height: 600px !important;
  }
  .carousel-item.active{
    justify-content: center !important;
    display: flex !important;
  }
</style>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  

    <div class="carousel-inner">
      
      {{ range $index, $value := $section.Params.fbFeed}}
      
      <div class="carousel-item {{ if eq $index 0 }} active {{ end }}">
        <div class="fb-post" 
          data-href="{{$value}}"
          data-height="600"
          data-width="750"
          data-lazy="true"></div>
        </div>
     
      {{ end }}
    </div>

    
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
  <ol class="carousel-indicators">
    {{ range $index, $value := $section.Params.fbFeed}}
    <li data-target="#carouselExampleIndicators" data-slide-to="{{$index}}" {{ if eq $index 0 }}class="active"{{ end }} ></li>
    {{ end }}
  </ol>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
<script>
  window.sectionData = '{{ $section.Params }}';
  window.pageData ='{{ $page.Params }}';
  console.log(window.sectionData);
  console.log(window.pageData);

</script>